*.swp
*.apk
*.ap_
*.dex
*.class
*.db
bin/
gen/
local.properties
.gradle
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea
.gradle
app/build/
app/libs/
app/obj/
temp/
AndroidBootstrap/build/
/build
libraries/android-support-v4-preferencefragment/build
.DS_Store
